body{
    background-color: #5666bf;  /* Couleur du body */
    position: relative;           /* Position relative pour le menu */
    height: 100vh;                /* Hauteur du body */
    margin: 0;                    /*Supression des marges et du padding du body */
    padding: 0;
}

body a{
    text-decoration: none;      /* Suppression du soulignement des liens */
}

h1 {
    margin: 0;          /* Suppression des marges du h1 */
}  

header h1{       /* Style du titre de la page */
    display: flex;
    font-family: 'Cinzel', serif;
    justify-content: center;
    background-color: #3e2c71;
    margin-bottom: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    color : #F3B93F;
}

.menu{  /* Style du menu */
    display: flex;
    flex-direction: column;         /* définition du menu en colonne */
    align-items: center;
    margin-bottom: 2%;
    position: fixed;                /* Position fixe pour le menu afin de le voir sur toute la page lorsqu'il est ouvert*/
    top: 0;                         /* Positionnement du menu en haut de la page */
    left: -250px;                   /* Positionnement du menu en dehors de la page (lorsqu'il est fermé)*/
    width: 250px;                   /* Largeur du menu */
    height: 100vh;
    background-color: #6643b5; 
    transition: left 0.3s ease;     /* Transition pour l'ouverture et la fermeture du menu */
}

.menu #container{                /* Style du contenu du menu */
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    font-size: large;
    text-align: center;
}

.menu #container:hover{        /* Style du contenu du menu lorsqu'on le survol */
    background-color: #32294de3;
}

.menu p{                   /* Style des paragraphes du menu (ici juste le titre)*/
    color: #F3B93F;
    font-size: large;
    padding-top: 21%;
    width: 100%;
    padding-bottom: 16.5%;
    background-color: #46386b;
    margin: 0;
    text-align: center;
}

.menu.show a{           /* Style des liens du menu lorsqu'il est ouvert */
    color: #F3B93F;
}

.menu.show {        /* Positionnement du menu lorsqu'il est ouvert */
    left: 0;
}
.menu.show #icone_menu{ /* Positionnement de l'icone du menu lorsqu'il est ouvert */
    left: 260px;
}

#icone_menu{    /* Style de l'icone du menu */
    position: fixed;    /* Position fixe pour l'icone afin de le voir sur toute la page lorsqu'il est ouvert*/
    width: 75px;
    height: 75px;
    top: 10px;
    left: 10px;
    z-index: 2; /* Positionnement de l'icone au dessus du menu */
}

#icone_menu img{    /* Dimensions de l'image de l'icone du menu */
    width: 75px;
    height: 75px;
}

#tirageContainer {  /* Style du container du tirage de cartes */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nomHTML{        /* Style du nom de la carte */
    text-align: center;
}
    
#imageHTML{     /* Dimensions de l'emplacement de l'image de la carte */
    margin-top: 7%;
    width: 250px;
    height: 300px;
    border: 2px solid #231ea5;
    background-color: #4d35c4;
}

#imageHTML img{   /* Dimensions de l'image de la carte */
    width: 100%;
    height: 100%;
}

#tirageContainer input{   /* Style et dimensions du bouton du tirage de cartes */
    margin-top: 2%;
    margin-bottom: 2%;
    width: 13%;
    height: 13%;
}

footer{  /* Style du footer */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    color: #F3B93F;
    bottom: 0;
    width: 100%;
}